{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/login.css') }}" type="text/css">
{% endblock %}
{% block body %}
	<div class="main-center-cont">
		<form method="post" class="form-signin">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}
			<img class="signin-logo" src="{{ asset('images/logo1.png') }}" alt="logo">
			<h1 class="signin-title">Se connecter</h1>
			<input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn bright-btn" type="submit">
				Se connecter
			</button>

		</form>
		<button class="btn dark-btn" onclick="window.location.href='{{ path('app_signup') }}'">
			S'inscrire
		</button>
	</div>

{% endblock %}
