{% extends 'base.html.twig' %}

{% block title %}Creer un compte
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/signup.css') }}" type="text/css">
{% endblock %}
{% block body %}
	<div class="main-center-cont signup-cont">
		<img class="signin-logo" src="{{ asset('images/logo1.png') }}" alt="logo">
		{# <form action="{{ path('app_signup') }}" method="post"> #}
            {{ form_start(form) }}
			{{ form_widget(form.nom) }}
			{{ form_widget(form.prenom) }}
			{{ form_widget(form.email) }}
			{{ form_widget(form.password) }}
            {{ form_widget(form.Enregistrer) }}
            {{ form_end(form) }}
			{# <button type="submit" class="btn bright-btn" >Creer un compte</button> #}
		{# </form> #}
		<button class="btn dark-btn" onclick="history.back()">Abandonner</button>
	</div>
{% endblock %}
