{% extends 'base.html.twig' %}

{% block title %}
	{{ user.prenom }}
	dashboard
{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" href="{{ asset('styles/apprenant.css') }}" type="text/css">
{% endblock %}
{% block body %}

	{% if matieres %}
		<section class="main">
			<div class="title">
				<h1>Bienvenue {{ user.prenom }}</h1>
                <h2 class="subtitle">Ton formation: <span class="formation">{{ matieres[0].formation }}</span></h2>
			</div>
			<div class="content">

                <h2>Liste des matieres</h2>
				<div class="board">
					<table class="table">
						<tr>
							<th>Matiere</th>
							<th>Formateur</th>
							<th>Detalle</th>
						</tr>
						{% for matiere in matieres %}
							<tr>
								<td td class="column1">{{matiere.nom}}</td>
								<td>{{ matiere.formateur is null ? 'No formateur assigned' : matiere.formateur }}</td>
								<td td class="column-action"><button class="btn btn-table" onclick="location.href='{{ path('apprenant_show_matiere', {'id': matiere.apprenant_id ,'matiereId': matiere.id,}) }}'">Voir</button></td>
							</tr>
						{% endfor %}

					</table>
				</div>
			</div>
		</section>
	{% endif %}

{% endblock %}
