<nav class="navbar">
	<ul>
		<li>
			<a href="{{ path('app_main') }}">Accueil</a>
		</li>
			<li>
				<a href="{{ path('app_produits') }}">Produits</a>
			</li>
		{% if app.user %}
			<li>
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</li>
		{% else %}
			<li>
				<a href="{{ path('app_login') }}">Connexion</a>
			</li>
			<li>
				<a href="{{ path('app_signup') }}">Inscription</a>
			</li>
		{% endif %}
	</ul>
</nav>
